In [1]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder\
                    .appName('Basic')\
                    .master('local[*]')\
                    .getOrCreate()\

In [3]:
path = '/Users/macbookpro/Documents/PySpark-BigData/data/'
people_df = spark.read.json(path + 'people.json')
people_df.show(10)

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [4]:
people_df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [5]:
from pyspark.sql.types import (StructField, StructType, 
                               StringType, IntegerType, 
                               FloatType, DateType)

In [6]:
people_schema = [StructField('age', IntegerType(), True),
                 StructField('name', StringType(), True)]

In [7]:
final_schema = StructType(fields=people_schema)

In [8]:
people_df = spark.read.json(path + 'people.json', 
                            schema=final_schema)

In [9]:
people_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [10]:
people_df.show(5)

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
people_df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
type(people_df['age'])

pyspark.sql.column.Column

In [13]:
people_df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [36]:
people_df.filter('age > 19').select('name', 'age').show()

+----+---+
|name|age|
+----+---+
|Andy| 30|
+----+---+

In [14]:
people_df.head(2)[0]

Row(age=None, name='Michael')

In [15]:
type(people_df.head(2)[0])

pyspark.sql.types.Row

In [17]:
people_df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
people_df.withColumn('double_age', people_df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [20]:
people_df.withColumnRenamed('age', 'new_col_age').show()

+-----------+-------+
|new_col_age|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

In [21]:
people_df.createOrReplaceTempView('people')

In [22]:
result = spark.sql("SELECT * FROM people")

In [23]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
new_result = spark.sql("SELECT * FROM people WHERE age = 19")

In [26]:
new_result.show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+